<h4>Chat Rooms</h4>
<ul
        class="list-group"
        id="chatroom-list"
        {{ turbo_stream_listen('App\\Entity\\ChatRoom') }}>
    {% for room in chatRooms %}
        <li class="list-group-item">
            <a
                    href="{{ path('chat_room', {id: room.id}) }}"
                    data-turbo-frame="chat-frame"
                    class="chatroom-link text-decoration-none d-block">
                {{ room.name }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item text-muted">No chat rooms available.</li>
    {% endfor %}
</ul>
