<h4>Chat Rooms</h4>
<ul
        class="list-group"
        id="chatroom-list"
        {{ turbo_stream_listen('App\\Entity\\ChatRoom') }}>
    {% for room in chatRooms %}
        {{ include('chat/_chatroom.html.twig', { room: room }) }}
    {% else %}
        <li class="list-group-item text-muted">No chat rooms available.</li>
    {% endfor %}
</ul>
