{% extends 'base.html.twig' %}

{% block title %}Chat Application{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <!-- Chat Rooms List -->
            <div class="col-md-4">
                {{ include('chat/_sidebar.html.twig', { chatRooms: chatRooms }) }}
            </div>

            <div class="col-md-8">
                <turbo-frame id="chat-frame">
                    <div class="text-center mt-5">
                        <h3>Select a chat room to start chatting</h3>
                    </div>
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}
