<turbo-stream action="append" targets="#messages">
    <template>
        <div style="margin-bottom: 10px;">
            <div><strong>{{ message.sentBy.email }}</strong> {{ message.createdAt|date("F j, Y, g:i a") }}</div>
            <div>{{ message.content }}</div>
        </div>
    </template>
</turbo-stream>

